<p id="notice"><%= notice %></p>

<h1>Lojas</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lojas.each do |loja| %>
        <tr>
          <td><%= loja.nome %></td>
          <td><%= loja.email %></td>
          <td><%= loja.telefone %></td>
          <td><%= link_to 'Show', loja %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
