<p id="notice"><%= notice %></p>

<div class="section white">
  <div class="">
    <div class="row">
      <div class="col m3 s12 forms">
      <div class="row container">
        <div class="col s12 m5"></div>
        <div class="col s12 m5"></div>
      </div>
      </div>
      <div class="col s12 m9">
        <div class="row busca"></div>
        <div class="row">
          <% @gerais.each do |geral| %>
            <div class="col s12 m6 l3">
              <div class="card sticky-action" style="overflow: hidden;">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/gerais/<%= rand (1..9) %>.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><%= geral.nome%><i class="material-icons right">more_vert</i></span>

                  <p><a href="#!"><%= geral.nome%></a></p>
                </div>

                <div class="card-action">
                  <%= link_to "#{geral.preco} Kzs", geral %>
                  <%= link_to "Comprar", geral %>
                </div>

                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                  <span class="card-title grey-text text-darken-4"><%= geral.nome%><i class="material-icons right">close</i></span>
                  <p><%= geral.descricao%></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @gerais %>
      </div>
    </div>
  </div>
</div>



<h1>Gerais</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="3">nome</th>
      <th colspan="3">Descrição</th>
      <th colspan="3">Loja</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @gerais.each do |geral| %>
      <tr>
        <td><%= geral.nome%></td>
        <td><%= geral.descricao%></td>
        <td><%= geral.loja.nome%></td>
        <td><%= link_to 'Show', geral %></td>
        <td><%= link_to 'Edit', edit_geral_path(geral) %></td>
        <td><%= link_to 'Destroy', geral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
