<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Entrada</th>
      <th>Saida.time</th>
      <th>Loja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= horario.dia %></td>
        <td><%= horario.entrada %></td>
        <td><%= horario.saida.time %></td>
        <td><%= horario.loja %></td>
        <td><%= link_to 'Show', horario %></td>
      </tr>
    <% end %>
  </tbody>
</table>
