<p id="notice"><%= notice %></p>

<h1>Piteus</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piteus.each do |piteu| %>
      <tr>
        <td><%= link_to 'Show', piteu %></td>
        <td><%= link_to 'Edit', edit_piteu_path(piteu) %></td>
        <td><%= link_to 'Destroy', piteu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piteu', new_piteu_path %>
