<p id="notice"><%= notice %></p>

<p>
  <strong>Cartao numero:</strong>
  <%= @compra.cartao_numero %>
</p>

<p>
  <strong>Pin cartao:</strong>
  <%= @compra.pin_cartao %>
</p>

<p>
  <strong>Carrinho:</strong>
  <%= @compra.carrinho %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
